<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".svg"/>
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<remove fileExtension=".glb"/>
			<mimeMap fileExtension=".glb" mimeType="model/gltf-binary" />
			<remove fileExtension=".obj"/>
			<mimeMap fileExtension=".obj" mimeType="text/plain" />
		</staticContent>
		<rewrite>
			<rules>
				<rule name="Handle History Mode and custom 404/500" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/materialball/index.html" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
